#body {
	font-family:Arial, Helvetica, sans-serif;	
}
a {text-decoration:none;
		color:#006699;
}
a:hover {
	font-weight:bold;	
}
#head_login {
	font-size: 20px;	
}
.button {  background:url(../images/p5.png) repeat-x;
			font-family:Arial;
			font-size:14px;
			color:#FFFFFF;
			font-weight:bold;
			border-radius: 3px;
			border:none;
			padding:2px;
			padding-left:10px;
			padding-right:10px;
			text-align:center; } 
.button:hover{box-shadow: 2px 2px 2px #888888;}